In [1]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
import sqlite3

In [2]:
# Database Credentials
user = "postgres"
password = "123456"
db_name = "Tennis DB"
host = "localhost"

In [3]:
# Defining Engine to Push data using SQLAlchemy
sa_conn = f"postgresql://{user}:{password}@{host}/{db_name}"
engine = create_engine(sa_conn)

In [ ]:
file1 = "category_ref.csv"
f1 = pd.read_csv(file1)
# f1.columns.to_list() # Checking columns list
f1.to_sql("category_table", engine, if_exists = "append", index=False)

In [9]:
# ALTERING CATEGORY_TABLE
with engine.connect() as conn:
    conn.execute(text("""
        ALTER TABLE CATEGORY_TABLE
        ALTER COLUMN CATEGORY_ID TYPE VARCHAR(50),
        ALTER COLUMN CATEGORY_NAME TYPE VARCHAR(100)
        """))
    conn.commit()

In [ ]:
with engine.connect() as conn:
    conn.execute(text("""
        ALTER TABLE CATEGORY_TABLE
        ADD CONSTRAINT CATEGORY_TB_PK PRIMARY KEY (CATEGORY_ID)
        """))
    conn.commit()

In [23]:
# COMPETITION TABLE
file2 = "competition_df.csv"
f2 = pd.read_csv(file2)
f2.to_sql("competition_table", engine, if_exists="append", index=False)

905

In [24]:
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE COMPETITION_TABLE RENAME COLUMN ID TO COMPETITION_ID"))
    conn.execute(text("ALTER TABLE COMPETITION_TABLE RENAME COLUMN NAME TO COMPETITION_NAME"))

In [4]:
file3 = "competitor_df.csv"
f3 = pd.read_csv(file3)
f3.to_sql("competitor_table", engine, if_exists="append", index=False)

1000

In [25]:
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ALTER COLUMN COMPETITION_ID TYPE VARCHAR(50)"))
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ALTER COLUMN COMPETITION_NAME TYPE VARCHAR(100)"))
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ALTER COLUMN TYPE TYPE VARCHAR(20)"))
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ALTER COLUMN GENDER TYPE VARCHAR(10)"))
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ALTER COLUMN PARENT_ID TYPE VARCHAR(50)"))

In [5]:
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ADD CONSTRAINT COMP_TB_FK FOREIGN KEY (CATEGORY_ID) REFERENCES CATEGORY_TABLE(CATEGORY_ID)"))

In [ ]:
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ADD CONSTRAINT COMP_TB_FK FOREIGN KEY (CATEGORY_ID) REFERENCES CATEGORY_TABLE(CATEGORY_ID)"))

In [6]:
with engine.connect() as conn:
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ALTER COLUMN CATEGORY_ID SET DATA TYPE VARCHAR(50)"))

In [7]:
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE COMPETITION_TABLE ADD CONSTRAINT COMP_TB_PK PRIMARY KEY (COMPETITION_ID)"))

In [4]:
file4 = "competitor_ranking_df.csv"
f4 = pd.read_csv(file4)
f4.to_sql("competitor_ranking_table", engine, if_exists="append", index=False)

1000

In [5]:
file5 = "complexes_df.csv"
f5 = pd.read_csv(file5)
f5.to_sql("complexes_table", engine, if_exists="append", index=False)

632

In [7]:
file6 = "venue_df.csv"
f6 = pd.read_csv(file6)
f6.to_sql("venue_table", engine, if_exists="append", index=False)

226

In [8]:
file7 = "category_df.csv"
f7 = pd.read_csv(file7)
f7.to_sql("category_og_table", engine, if_exists="append", index=False)

905